@import "tailwindcss";

:root {
  --bg: #f8f6f2;
  --bg-soft: #f1ede7;

  --text: #161616;
  --text-soft: #6f6a64;

  --border: rgba(0,0,0,0.08);

  --gold: #c6a46c;
  --sand: #d8c7b2;
  --ocean: #335c81;

  --container: 1440px;

  --ease: cubic-bezier(0.16, 1, 0.3, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);

  font-family: "Manrope", sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.container-custom {
  width: min(100% - 48px, var(--container));
  margin-inline: auto;
}

img {
  user-select: none;
}

::selection {
  background: rgba(198, 164, 108, 0.2);
}

.font-editorial {
  font-family: "Cormorant Garamond", serif;
}

.font-brand {
  font-family: "Bevan", serif;
}